# Pandas

Pandas known as panel data and is the core library for data manipulation and data analysis
It consists of single and multi dimensional for data manipulation.

In [46]:
import pandas as pd

In [47]:
p = pd.Series([1,2,3,4,5,6])

In [48]:
p

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [49]:
type(p)

pandas.core.series.Series

In [50]:
p = pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f']) #changing the index

In [51]:
p

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [52]:
p1 = pd.Series({"a":1,"b":2,"c":3})
p1

a    1
b    2
c    3
dtype: int64

In [53]:
type(p1)

pandas.core.series.Series

In [54]:
p3 = pd.Series(['a','b','c','d'],index=[1,2,3,4])
p3

1    a
2    b
3    c
4    d
dtype: object

In [55]:
#extracting individul elements from series
p4 = pd.Series([1,2,3,4,5,6,7,8,9,10])
p4

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [56]:
p4[:5]

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [57]:
p4[6]

7

In [58]:
p4[-3:]

7     8
8     9
9    10
dtype: int64

In [59]:
p4+1

0     2
1     3
2     4
3     5
4     6
5     7
6     8
7     9
8    10
9    11
dtype: int64

In [60]:
p1= pd.Series([1,2,3,4,5])
p2= pd.Series([6,7,8,9,10])

In [61]:
p1+p2

0     7
1     9
2    11
3    13
4    15
dtype: int64

In [62]:
#DataFrame is 2 Dimensional Labelled structure

In [63]:
df = pd.DataFrame({"Name":["Sam","Rob","Mary"],"Marks":[70,80,90]})

In [64]:
df

   Name  Marks
0   Sam     70
1   Rob     80
2  Mary     90

In [65]:
type(df)

pandas.core.frame.DataFrame

In [79]:
#dataframe inbuilt funtions 
#head,shape,describe,tail

In [80]:
df2 =pd.read_csv('Iris.csv')
df2.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [81]:
df2.shape

(150, 6)

In [82]:
df2.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [83]:
df2.iloc[0:3,0:3]

   Id  SepalLengthCm  SepalWidthCm
0   1            5.1           3.5
1   2            4.9           3.0
2   3            4.7           3.2

In [84]:
df2

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [90]:
df4 =df2.loc[10:30,("SepalLengthCm","Species","PetalLengthCm")]

In [91]:
df4

    SepalLengthCm      Species  PetalLengthCm
10            5.4  Iris-setosa            1.5
11            4.8  Iris-setosa            1.6
12            4.8  Iris-setosa            1.4
13            4.3  Iris-setosa            1.1
14            5.8  Iris-setosa            1.2
15            5.7  Iris-setosa            1.5
16            5.4  Iris-setosa            1.3
17            5.1  Iris-setosa            1.4
18            5.7  Iris-setosa            1.7
19            5.1  Iris-setosa            1.5
20            5.4  Iris-setosa            1.7
21            5.1  Iris-setosa            1.5
22            4.6  Iris-setosa            1.0
23            5.1  Iris-setosa            1.7
24            4.8  Iris-setosa            1.9
25            5.0  Iris-setosa            1.6
26            5.0  Iris-setosa            1.6
27            5.2  Iris-setosa            1.5
28            5.2  Iris-setosa            1.4
29            4.7  Iris-setosa            1.6
30            4.8  Iris-setosa            1.6

In [92]:
df4 = df4.drop("Species",axis=1)
df4

    SepalLengthCm  PetalLengthCm
10            5.4            1.5
11            4.8            1.6
12            4.8            1.4
13            4.3            1.1
14            5.8            1.2
15            5.7            1.5
16            5.4            1.3
17            5.1            1.4
18            5.7            1.7
19            5.1            1.5
20            5.4            1.7
21            5.1            1.5
22            4.6            1.0
23            5.1            1.7
24            4.8            1.9
25            5.0            1.6
26            5.0            1.6
27            5.2            1.5
28            5.2            1.4
29            4.7            1.6
30            4.8            1.6

In [93]:
df4 = df4.drop([10,11,12],axis=0)
df4

    SepalLengthCm  PetalLengthCm
13            4.3            1.1
14            5.8            1.2
15            5.7            1.5
16            5.4            1.3
17            5.1            1.4
18            5.7            1.7
19            5.1            1.5
20            5.4            1.7
21            5.1            1.5
22            4.6            1.0
23            5.1            1.7
24            4.8            1.9
25            5.0            1.6
26            5.0            1.6
27            5.2            1.5
28            5.2            1.4
29            4.7            1.6
30            4.8            1.6

In [94]:
df4.mean()

SepalLengthCm    5.111111
PetalLengthCm    1.488889
dtype: float64

In [95]:
df4.min()

SepalLengthCm    4.3
PetalLengthCm    1.0
dtype: float64

In [96]:
df4.max()

SepalLengthCm    5.8
PetalLengthCm    1.9
dtype: float64

In [97]:
df4.median()

SepalLengthCm    5.1
PetalLengthCm    1.5
dtype: float64