In [1]:
print("hello data science")

hello data science

In [2]:
student = "Nataraj"

In [3]:
student
print("student name is " + student)

student name is Nataraj

In [4]:
a1 =20
print(a1)

20

In [5]:
type(a1)

int

In [6]:
a1= 3.41
print(a1)

3.41

In [7]:
type(a1)

float

In [8]:
a1 = True
print(a1)

True

In [9]:
type(a1)

bool

In [10]:
a1 = "Hi"
print(a1)

Hi

In [11]:
type(a1)

str

In [12]:
a1 = 3+4j
print(a1)

(3+4j)

In [13]:
type(a1)

complex

Operators in Python
1. Arithmetic
2. Relational
3. Logical

In [15]:
#Arithmetic  #+,-,/,* operators

In [16]:
a =10
b=20

In [17]:
a,b

(10, 20)

In [18]:
a+b

30

In [19]:
a-b

-10

In [20]:
a*b

200

In [21]:
a/b

0.5

In [22]:
#relational operators <,>,==,!=

In [23]:
a =30
b= 60

In [24]:
a,b

(30, 60)

In [25]:
a>b

False

In [26]:
a<b

True

In [27]:
a==b

False

In [28]:
a!=b

True

In [29]:
#Logical operators & |

In [30]:
a = True
b = False
c= True
d = False

In [31]:
a,b

(True, False)

In [32]:
a & b

False

In [33]:
a | b

True

In [34]:
a & c

True

In [35]:
b|c

True

In [36]:
d | d

False

In [37]:
b & d

False

In [38]:
#Python tokens keywords,identifiers,operators,literals

In [39]:
#Keywords
#False  class     finally    is        return
#None   continue  for        lambda    try
#True   def       from       nonlocal  while
#and    del       global     not       with 
#as     elif      if         or        yield

In [40]:
import keyword

In [41]:
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [42]:
#python identifiers are for variables ,functions or objects
#Rules 
#1. on underscore character can be used 
#2.case sensitive
#3. First letter cannot begin with a digit

In [43]:
_bb =21 
_bb

21

In [44]:
#case sensitive 
student = "Nataraj"
Student ="Raj"

In [45]:
student

'Nataraj'

In [46]:
Student

'Raj'

In [47]:
8ba =20 gives invalid syntax

SyntaxError: invalid syntax (4227398199.py, line 1)

In [48]:
#literals are nothing but constants which cannot be changed

In [49]:
#Python Strings
#Strings are sequence of characters enclosed within double ,single, triple quotes

In [50]:
a ="hello"
b= 'hello'
c='''hello'''

In [51]:
a,b,c

('hello', 'hello', 'hello')

In [52]:
type(a) ,type(b),type(c)

(str, str, str)

In [53]:
#extracting individual characters from a string

In [54]:
str1 = " this is my python tutorial"

In [55]:
str1

' this is my python tutorial'

In [56]:
str1[0]

' '

In [57]:
str1[1]

't'

In [58]:
str1[1:5]

'this'

In [59]:
str1[-1]

'l'

In [60]:
str1[1:9]

'this is '

In [61]:
#Python String Functions length,upper,lower,replace,count, indexof substring , split string

In [62]:
#length of the string
str2= "Nataraj"
print(len(str2)) #starts with zero ends with 6 total 7 so the length is seven

7

In [63]:
#uppercase and lowercase
str3 = str2.lower()

In [64]:
str3

'nataraj'

In [65]:
str3 = str2.upper()

In [66]:
str3

'NATARAJ'

In [67]:
#replace
str4 = "Raj"
str5 = str4.replace('R',"T")

In [68]:
str5

'Taj'

In [69]:
#count number of occurences ofa character or word
str6 = "hello hello world"
str7 = str6.count("hello")

In [70]:
str7

2

In [71]:
str8 = str6.count("l")

In [72]:
str8

5

In [73]:
#index of substring 
st = "this is python "
s= st.find("python")

In [74]:
s # p starts from index 8

8

In [75]:
#split the string 
st = "this, is, python"
s= st.split(",")

In [76]:
s

['this', ' is', ' python']

In [77]:
st = "this, is, python"
s= st.split("i")

In [78]:
s

['th', 's, ', 's, python']

In [79]:
#Data Structures in Python
# 1.Tuple
# 2.Dictionary
# 3.List
# 4.set

In [80]:
#Tuple is a ordered collection of elements enclosed within brackets
# can Store heterogeneous elements and Tuples are immutable

In [81]:
tup1 = (1,"a",True,4,"aa")
tup1

(1, 'a', True, 4, 'aa')

In [82]:
type(tup1)

tuple

In [83]:
#Extracting individual elements 
tup1[0]

1

In [84]:
tup1[0:3]

(1, 'a', True)

In [85]:
tup1[1]="bb" #tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [88]:
# perfrom basic operations on tuple

In [89]:
tup2=(1,"cc","False")

In [90]:
tup1,tup2

((1, 'a', True, 4, 'aa'), (1, 'cc', 'False'))

In [91]:
tup1+tup2

(1, 'a', True, 4, 'aa', 1, 'cc', 'False')

In [92]:
len(tup1)

5

In [93]:
tup1*2 +tup2

(1, 'a', True, 4, 'aa', 1, 'a', True, 4, 'aa', 1, 'cc', 'False')

In [94]:
#min amd max value
tup3 =(29,45,67,21)
min(tup3)

21

In [95]:
tup3 =(29,45,67,21)
max(tup3)

67

In [96]:
#List is orderd collection of elements which are enclosed in square brackets
#List is mutable can store heterogeneous elements

In [97]:
lst1 =[1,2,3,4,5]
lst2 = [1,"a",3.4]

In [98]:
type(lst1), type(lst2)

(list, list)

In [99]:
lst1[0]

1

In [100]:
lst1[0]=20 #change is possible

In [101]:
lst1

[20, 2, 3, 4, 5]

In [102]:
lst1+lst2

[20, 2, 3, 4, 5, 1, 'a', 3.4]

In [103]:
lst1[0:3]

[20, 2, 3]

In [104]:
lst1.append(300) #toadd new element to list

In [105]:
lst1

[20, 2, 3, 4, 5, 300]

In [106]:
lst1.pop() #will remove last element from the list

300

In [107]:
lst1

[20, 2, 3, 4, 5]

In [108]:
#reverse element of a list
lst1.reverse()

In [109]:
lst1

[5, 4, 3, 2, 20]

In [110]:
#insert element ia alist
lst1.insert(2,"Nataraj") #syntax first parameter is index nd 2nd paramater is value

In [111]:
lst1

[5, 4, 'Nataraj', 3, 2, 20]

In [112]:
#to sort the list
lst3=[1,5,6,3,7,9]
lst3.sort()         #sort only works for numbers not strings in heteregeneous data

In [113]:
lst3

[1, 3, 5, 6, 7, 9]

In [114]:
lst4=["Mango","banana","guava","apple"]
lst4

['Mango', 'banana', 'guava', 'apple']

In [115]:
lst4.sort()
lst4

['Mango', 'apple', 'banana', 'guava']

In [116]:
lst4*2

['Mango', 'apple', 'banana', 'guava', 'Mango', 'apple', 'banana', 'guava']

In [117]:
lst3+lst4

[1, 3, 5, 6, 7, 9, 'Mango', 'apple', 'banana', 'guava']

In [118]:
#dictionary is unordered collection of key value pairs enclosed within {}
#dictionry is mutable

In [119]:
d1 ={"Mango":200, "Apple":100,"Banana":50,1:"blueberry"}

In [120]:
d1

{'Mango': 200, 'Apple': 100, 'Banana': 50, 1: 'blueberry'}

In [121]:
type(d1)

dict

In [122]:
#extract keys and values from dictionary
d1.keys()

dict_keys(['Mango', 'Apple', 'Banana', 1])

In [123]:
d1.values()

dict_values([200, 100, 50, 'blueberry'])

In [124]:
d1["Mango"]=500 #existing element change

In [125]:
d1

{'Mango': 500, 'Apple': 100, 'Banana': 50, 1: 'blueberry'}

In [126]:
#add new element into dictionary

In [127]:
d1["grapes"]=150

In [128]:
d1

{'Mango': 500, 'Apple': 100, 'Banana': 50, 1: 'blueberry', 'grapes': 150}

In [129]:
#some of the functions in dictionary

In [130]:
f1 ={'Mango': 500, 'Apple': 100, 'Banana': 50}
f2={'grapes': 100, 'guava': 50, 'banana':50}

In [131]:
f1.update(f2)

In [132]:
f1

{'Mango': 500,
 'Apple': 100,
 'Banana': 50,
 'grapes': 100,
 'guava': 50,
 'banana': 50}

In [133]:
f2.pop("banana") #need to pass argument

50

In [134]:
f2

{'grapes': 100, 'guava': 50}

In [135]:
#set is unordered and unindexed collection of elements enclosed within curly brackets
#set duplicates are not allowed

In [136]:
s1 ={1,"a",3.4}

In [137]:
type(s1)

set

In [138]:
s1 ={1,"a",3.4,1} #duplicates are not allowed

In [139]:
s1

{1, 3.4, 'a'}

In [140]:
#add element to set
s1.add(45)

In [141]:
s1

{1, 3.4, 45, 'a'}

In [142]:
#to add multiple elements
s1.update([60,"hi",27.6])

In [143]:
s1

{1, 27.6, 3.4, 45, 60, 'a', 'hi'}

In [144]:
#to remove a element from set
s1.remove(1)

In [145]:
s1

{27.6, 3.4, 45, 60, 'a', 'hi'}

In [146]:
s2 ={1,2,3,4,5}

In [147]:
#union and intersection of two sets

In [148]:
s1.union(s2)

{1, 2, 27.6, 3, 3.4, 4, 45, 5, 60, 'a', 'hi'}

In [149]:
s3= {1,2,3,4}
s4 = {1,3,5,7}

In [150]:
s3.intersection(s4)

{1, 3}

In [151]:
#Conditional statements in python

In [152]:
a = 10 
b = 20

In [153]:
if a>b:
    print("a is greatest")
else:
    print("b is greatest")

b is greatest

In [154]:
if a>b:
    print("a is greatest")
elif b>a:
    print("b is greatest")
else:
    print("Nothing to print")

b is greatest

In [155]:
tup1 = ('a','b','c')
tup1

('a', 'b', 'c')

In [156]:
type(tup1)

tuple

In [157]:
#if with tuple
if 'a' in tup1:
    print("a is present in tup1")
else:
    print("not present")

a is present in tup1

In [158]:
if 'z' in tup1:
    print("a is present in tup1")
else:
    print("not present")

not present

In [159]:
#if with list
lst = [1,2,3,4,5]
lst

[1, 2, 3, 4, 5]

In [160]:
type(lst)

list

In [161]:
if 1 in lst:
    print("1 is present in list")
else:
    print("not present")

1 is present in list

In [162]:
if lst[1]==2 :
    print("1 is present in list")
else:
    print("not present")

1 is present in list

In [163]:
if lst[1]==2 :
    lst[1]= lst[1]+100
else:
    print("not present")

In [164]:
lst

[1, 102, 3, 4, 5]

In [165]:
#loop statements in python

In [166]:
#while loop
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [167]:
l1 =[1,2,3,4,5]
l1

[1, 2, 3, 4, 5]

In [168]:
i=0
while i<len(l1):
    l1[i]=l1[i]+100
    i=i+1

In [169]:
#for loop 
lst = [10,20,30,40]
for i in lst:
    print(i)

10
20
30
40

In [170]:
l1 =[1,2,3,4]
l2 =["red","orange","green","yellow"]

In [171]:
for i in l1:
    for j in l2:
        print(i,j)

1 red
1 orange
1 green
1 yellow
2 red
2 orange
2 green
2 yellow
3 red
3 orange
3 green
3 yellow
4 red
4 orange
4 green
4 yellow

In [172]:
#Functions in python 
#Function is a block of code which performs sime specific task

In [173]:
def hello():
    print("Hello welcome to python Programming")

In [174]:
hello() #clling the function

Hello welcome to python Programming

In [175]:
def iseven(x):
    if x%2==0:
        print(x, "is even")
    else:
        print(x,"is odd")

In [176]:
iseven(10)

10 is even

In [177]:
iseven(5)

5 is odd

In [178]:
#lambda function
g= lambda x: x*x*x

In [179]:
g(5)

125

In [180]:
#lambda with filter
# Take a list of numbers. 
my_list = [12, 65, 54, 39, 102, 339, 221, 50, 70, ]
  
# use anonymous function to filter and comparing 
# if divisible or not
result = list(filter(lambda x: (x % 13 == 0), my_list)) 
# printing the result
print(result)

[65, 39, 221]

In [181]:
#lambda with map
final_nw = list(map(lambda x: x*2,l))

NameError: name 'l' is not defined

In [182]:
#Python Object Oriented programming concepts

In [183]:
#class is a template/blueprint for real world entities

class Phone:
    
    def make_call(self):
        print("make a call")
    def play_game(self):
        print("playing games")
    def set_color(self,color):
        self.color=color
    def set_cost(self,cost):
        self.cost=cost
    def show_color(self):
        return self.color
    def show_cost(self):
        return self.cost

In [184]:
p1 = Phone()

In [185]:
p1.make_call()

make a call

In [186]:
p1.play_game()

playing games

In [187]:
p1.set_color("olive green")

In [188]:
p1.set_cost(10000)

In [189]:
p1.show_color()

'olive green'

In [190]:
p1.show_cost()

10000

In [191]:
class Employee:
    def __init__(self, name ,age, salary, gender):
        self.name=name
        self.age=age
        self.salary=salary
        self.gender=gender
    
    def show_employee_details(self):
        print("Employee name is ",self.name)
        print("Employee age is ",self.age)
        print("Employee salary is ",self.salary)
        print("Employee gender is ",self.gender)

In [192]:
p2 = Employee("Nataraj",33,100000,"Male")

In [193]:
p2.show_employee_details()

Employee name is  Nataraj
Employee age is  33
Employee salary is  100000
Employee gender is  Male

In [194]:
#Inheritance In python

In [195]:
class Vehicle:
    def __init__(self, mileage, cost):
        self.mileage=mileage
        self.cost=cost
       
    
    def show_vehicle_details(self):
        print("vehicle mileage is ",self.mileage)
        print("vehicle cost is ",self.cost)

In [196]:
v1 = Vehicle(250 ,500000)

In [197]:
v1.show_vehicle_details()

vehicle mileage is  250
vehicle cost is  500000

In [198]:
class Car(Vehicle):
    def __init__(self,mileage,cost,tyres,hp):
        super().__init__(mileage,cost)
        self.tyres=tyres
        self.hp=hp
    
    def show_car_details(self):
        print("car tyres is ",self.tyres)
        print("car hp is ",self.hp)
        print("vehicle mileage is ",self.mileage)
        print("vehicle cost is ",self.cost)

In [199]:
c1 = Car(150,10000,4,500)

In [200]:
c1.show_car_details()

car tyres is  4
car hp is  500
vehicle mileage is  150
vehicle cost is  10000

In [201]:
c1.show_vehicle_details()

vehicle mileage is  150
vehicle cost is  10000

In [202]:
#Types of inheritance 
# 1.single child inherets from single parent class
# 2. Multiple child inherets from multiple parent class
# 3. Multi-level
# 4. Hybrid
# 5. Hierarchical

In [203]:
#Multiple inheritance
class parent1:
    def assign_string1(self,str1):
        self.str1=str1
    def show_string1(self):
        return self.str1

In [204]:
class parent2:
    def assign_string2(self,str2):
        self.str2=str2
    def show_string2(self):
        return self.str2

In [205]:
class Child(parent1, parent2):
    def assign_string3(self,str3):
        self.str3=str3
    def show_string3(self):
        return self.str3

In [206]:
c1 = Child()

In [207]:
c1.assign_string1("This is parent 1 class")
c1.assign_string2("This is parent 2 class")
c1.assign_string3("This is child class")

In [208]:
c1.show_string1()

'This is parent 1 class'

In [209]:
c1.show_string2()

'This is parent 2 class'

In [210]:
c1.show_string3()

'This is child class'

In [211]:
#Multilevel inheritance means we have parent ,child, grandchild relationship

In [212]:
class Parent:
    def assign_string1(self,str1):
        self.str1=str1
    def show_string1(self):
        return self.str1

In [213]:
class Child(Parent):
    def assign_string2(self,str2):
        self.str2=str2
    def show_string2(self):
        return self.str2

In [214]:
class Grandchild(Child):
    def assign_string3(self,str3):
        self.str3=str3
    def show_string3(self):
        return self.str3

In [215]:
c2= Grandchild()

In [216]:
c2.assign_string2("this is parent 2")

In [217]:
c2.assign_string3("This is child class")

In [218]:
c2.show_string2()

'this is parent 2'

In [219]:
c2.show_string3()

'This is child class'

In [220]:
#Hierarchical inheritance
# Base class
class Parent:
    def func1(self):
        print("This function is in parent class.")
 
 
class Child1(Parent):
    def func2(self):
        print("This function is in child 1.")
 

 
class Child2(Parent):
    def func3(self):
        print("This function is in child 2.")
 
 
# Driver's code
object1 = Child1()
object2 = Child2()
object1.func1()
object1.func2()
object2.func1()
object2.func3()

This function is in parent class.
This function is in child 1.
This function is in parent class.
This function is in child 2.

In [221]:
#Hybrid Inheritance
class School:
    def func1(self):
        print("This function is in school.")
 
 
class Student1(School):
    def func2(self):
        print("This function is in student 1. ")
 
 
class Student2(School):
    def func3(self):
        print("This function is in student 2.")
 
 
class Student3(Student1, School):
    def func4(self):
        print("This function is in student 3.")
 
 

object = Student3()
object.func1()
object.func2()

This function is in school.
This function is in student 1.

# End of Python